<% provide(:title, 'Edit inquiry') %>
<h1>Edit inquiry</h1>

<div class="row">
  <div class="span6 offset3">
    <% if current_user?(@inquiry.user) %>
      <%= form_for(@inquiry) do |f| %>
        <%= render 'error_messages' %>
      
        <%= f.label :contents %>
        <%= f.text_area :contents %>
      
        <%= f.label :category_id %>
        <%= f.collection_select :category_id, Category.all, :id, :name %>

        <%= f.label :status_id %>
        <%= f.collection_select :status_id, Status.all, :id, :name %>
 
        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      <% end %>
    <% else %>
      <h3>
        Because you are not the inquired person of this inquiry, <br />
        you cannot edit it.
      </h3>
    <% end %>
  </div>
</div>
