<% provide(:title, 'New Inquiry') %>
<h1>New Inquiry</h1>

<div class="row">
 	<div class="span6 offset3">
		<%= form_for(@inquiry) do |f| %>
			<%= render 'error_messages' %>

			<%= f.label :contents %>
			<%= f.text_area :contents %>
			
			<%= f.label :category_id %>
			<%= f.collection_select :category_id, Category.all, :id, :name %>
			
			<%= f.hidden_field :user_id, value: @user.id %>
			<%= f.hidden_field :status_id, value: @init_status.id %>
			
			<%= f.submit "Register your inquiry", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>